body {
    background-color: #cfffb3;
    color: black;
    font-family: "Work Sans", sans-serif;
}

#product-container,
#cart-container {
    border: 5px solid white;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}

#cart-container {
    background-color: white;
    border: 5px solid yellowgreen;
    flex-flow: column wrap;
}

.product-card {
    border: 7px solid yellowgreen;
    padding: 2rem;
    margin: 2rem;
    width: 10rem;
}

header {
    text-align: center;
    background-color: white;
    color: #3a5743;
    border: 5px solid yellowgreen;
}

header h2 {
    font-family: "Be Vietnam Pro", sans-serif;
}

.product-card p {
    font-size: 10px;
}

img {
    height: 100px;
}

#clear-btn,
#back-btn {
    margin-bottom: 10px;
    background: none;
    color: inherit;
    border: none;
    padding: 20;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
}

p {
    font-size: 15px;
}

#cartIcon {
    height: 50px;
    cursor: pointer;
}

#cart-message {
    font-family: "Be Vietnam Pro", sans-serif;
    color: #3a5743;
}

.btns {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
        rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    color: #3c4043;
    cursor: pointer;
    fill: currentcolor;
    font-family: "Work Sans", sans-serif;
    margin: auto;
    width: 100px;
    overflow: visible;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    will-change: transform, opacity;
    white-space: nowrap;
}

.btns:hover {
    background: #f6f9fe;
    color: darkgreen;
}

.btns:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
        0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.btns:focus {
    outline: none;
    border: 2px solid darkgreen;
}

.product-card .btns {
    font-size: 12px;
}

#cart-container .btns {
    height: 40px;
    font-size: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-top: 20px;
}
